# Python artifacts
__pycache__/
*.py[cod]
*.so

# Environments
.env
.envrc
.venv/
venv/

# Packaging
*.egg-info/
build/
dist/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Tooling caches
.mypy_cache/

# Editors and OS
.ipynb_checkpoints/
.DS_Store
